{% load staticfiles %}
<html class="uk-height-1-1 uk-notouch">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}千寻 | 观星台{% endblock %}</title>
        <link href="{% static "uikit-2.24.1/css/uikit.min.css" %}" rel="stylesheet">
        <link href="{% static "uikit-2.24.1/css/doc.css" %}" rel="stylesheet">
        <link rel="stylesheet" href={% static "sweetalert/dist/sweetalert.css"%}>
        {% block css %}
        {% endblock %}
    </head>
    <body class="uk-height-1-1" style="background-image: url({% static "img/first-bg.jpg" %});background-size:100% 100%">

            <div class="uk-vertical-align uk-text-center uk-height-1-1">
                <div class="uk-vertical-align-middle" style="width: 300px;">
{#                    <img class="uk-margin-bottom" width="80" height="80" src="{% static "img/logo.png" %}" alt="千寻">#}
                    <h2 class="uk-text-bold">欢迎登陆千寻基础技术平台</h2>
                    <form action="{% url "login" %}" class="uk-form" role="form" method="post">{% csrf_token %}
                        <div class="uk-form-row">
                            <input name="username" id="id_username" class="uk-width-1-1 uk-form-large" placeholder="AD Username" type="text">
                        </div>
                        {% if form.username.errors %}
                            <div class="uk-text-danger uk-float-left">请输入用户名</div>
                        {% endif %}
                        <div class="uk-form-row">
                            <input name="password" id="id_password" class="uk-width-1-1 uk-form-large uk-form-password" placeholder="Password" type="password">
                        </div>
                        {% if form.password.errors %}
                            <div class="uk-text-danger uk-float-left">请输入密 码</div>
                        {% endif %}
                        <input type="hidden" name="next" value="{{ next }}" />

                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-button uk-button-success uk-button-large uk-margin-top" type="submit" value="LOGIN">
{#                            <a type="inp" class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="#">Login</a>#}
                        </div>
                        <div class="uk-form-row uk-text-small">
                            <a class="uk-float-right uk-link uk-link-muted" href="mailto:wenbin.wuwb@wz-inc.com">忘记密码?发邮件给AD管理员</a>
                        </div>
                    </form>

                </div>
            </div>
    </body>