{% extends "workflow/index.html" %}

{% block content %}
    <h4 class="tm-article-subtitle">待审批变更</h4>
    {% if judge_list %}
        <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
            <thead>
                <tr>
                    <th class="uk-width-1-5">名称</th>
                    <th class="uk-width-1-5">开始时间</th>
                    <th class="uk-width-1-5">计划结束时间</th>
                    <th class="uk-width-1-5">审请人</th>
                    <th class="uk-width-1-5">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for currentactoruser in judge_list %}
                    <tr>
                        <td class="uk-width-1-5"><a href="{{ currentactoruser.task.itemId.get_absolute_url }}">{{ currentactoruser.task.itemId.itemName }}</a></td>
                        <td class="uk-width-1-5">{{ currentactoruser.task.itemId.start_time|date:"y-m-d H:i" }}</td>
                        <td class="uk-width-1-5">{{ currentactoruser.task.itemId.end_time|date:"y-m-d H:i" }}</td>
                        <td class="uk-width-1-5">
                            {{ currentactoruser.task.itemId.applyUserId }}
                        </td>
                        <td class="uk-text-center">
                            <a class="uk-button uk-button-success uk-button-mini btn-agree" taskid={{ currentactoruser.task.id }} currentactoruserid={{ currentactoruser.id }}>同意</a>
                            <a class="uk-button uk-button-danger uk-button-mini btn-refused" taskid={{ currentactoruser.task.id }} currentactoruserid={{ currentactoruser.id }}>拒绝</a>
                            <a class="uk-button uk-button-primary uk-button-mini add_sign" taskid={{ currentactoruser.task.id }} actorid="{{ currentactoruser.task.actorId.id }}">加签</a>
                        </td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p style="" class="uk-alert uk-alert-success">当前没有有关您的审批任务</p>
    {% endif %}
{% endblock %}


{% block js %}
    <script>
    $(".btn-agree").click(function() {

        var taskid = $(this).attr('taskid');
{#        var actorid = $(this).attr('actorid');#}
        var currentactoruserid = $(this).attr('currentactoruserid');

        UIkit.modal.prompt('点击OK同意审批,如果有备注,请输入:', '', function(comment){
            $.ajax({
                url:'{% url "workflow:agree" %}',
                type: 'post',
                data:{
                    taskid : taskid,
{#                    actorid : actorid,#}
                    currentactoruserid : currentactoruserid,
                    comment: comment
                },
                dataType: 'json',
                beforeSend: function(){
                },
                error: function(XHR){
                    swal("出错了!", XHR.responseJSON.return, "error");
                    $(this).isDisabled();
                },
                success: function(data){
                    swal({
                        title: "已同意!",
                        text: data.return,
                        type: "success",
{#                        showCancelButton: true,#}
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    },
                    function(){
                        location.reload();
                    });
                }
            });/* end ajax */
        });
    });

    $(".btn-refused").click(function() {

        var taskid = $(this).attr('taskid');
        var currentactoruserid = $(this).attr('currentactoruserid');

        UIkit.modal.prompt('请输入拒绝理由:', '', function(comment){
            $.ajax({
                url:'{% url "workflow:disagree" %}',
                type: 'post',
                data:{
                    taskid : taskid,
                    currentactoruserid : currentactoruserid,
                    comment : comment
                },
                dataType: 'json',
                beforeSend: function(){
                },
                error: function(XHR){
                    swal("出错了!", XHR.responseJSON.return, "error")
                    $(this).isDisabled();
                },
                success: function(data){
                    swal({
                        title: "已拒绝!",
                        text: data.return,
                        type: "success",
{#                        showCancelButton: true,#}
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    },
                    function(){
                        location.reload();
                    });
                }
            });/* end ajax */
        });
    });


    $(".add_sign").click(function() {
        var taskid = $(this).attr('taskid');
        var actorid = $(this).attr('actorid');
        UIkit.modal.prompt('请输入被加签人的邮箱:', '', function(email){
            $.ajax({
                url:'{% url "workflow:add_sign" %}',
                type: 'post',
                data:{
                    taskid: taskid,
                    actorid : actorid,
                    email: email
                },
                dataType: 'json',
                beforeSend: function(){
                },
                error: function(XHR){
                    swal("出错了!", XHR.responseJSON.return, "error");
                    $(this).isDisabled();
                },
                success: function(data){
                    swal("加签成功!", data.return, "success");
                }
            });/* end ajax */
        });
    });
    </script>
{% endblock %}