{% extends "workflow/index.html" %}

{% block content %}
<h4 class="tm-article-subtitle uk-margin-large-top">Search Results</h4>
{% if search_result_queryset %}
    <table class="uk-table uk-table-hover uk-table-striped">
        <thead>
            <tr>
                <th class="uk-width-1-5">任务编号</th>
                <th class="uk-width-1-5">所属工单</th>
                <th class="uk-width-1-5">最终状态</th>
                <th class="uk-width-2-5">备注</th>
            </tr>
        </thead>
        <tbody>
        {% for item in search_result_queryset %}
            <tr>
                <td class="uk-width-1-5">{{ item.id }}</td>
                <td class="uk-width-1-5"><a href="{{ item.itemId.get_absolute_url }}">{{ item.itemId.itemName }}</a></td>
                <td class="uk-width-1-5"><div class="uk-badge uk-text-bottom">{{ item.actorId.actorName }}</div></td>
                <td class="uk-width-2-5 uk-text-muted">{{ item.version|linebreaksbr }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="uk-text-bold uk-panel uk-panel-box uk-panel-box-warning">
        无结果,
    </div>
{% endif %}
{% endblock %}