{% extends "track/index.html" %}
{% load staticfiles %}

{% block title %}
    千寻 | UPDATE
{% endblock %}

{% block description %}
    <div class="uk-block uk-contrast" style="background-color: #263d1d">
        <div class="uk-container uk-container-center">

            <h2 class="uk-text-bold">{{ object.name }}</h2>

{#            <div class="uk-grid uk-grid-match">#}
{#                <div class="uk-width-medium-1-2">#}
{#                    <div class="uk-panel">#}
{#                        <h5 class="uk-text-muted uk-text-bold">可选的事件类别</h5>#}
{#                        {% for i in category_list %}#}
{#                            <span class="uk-badge uk-badge-warning">{{ i.name }}[{{ i.owner.last_name }}{{ i.owner.first_name }}]</span>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#                <div class="uk-width-medium-1-2">#}
{#                    <div class="uk-panel">#}
{#                        <h5 class="uk-text-muted uk-text-bold">可选的事件等级</h5>#}
{#                        {% for i in level_list %}#}
{#                            <span class="uk-badge uk-badge-warning">{{ i.name }}</span>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

        </div>
    </div>
{% endblock %}

{% block middle-nav %}
{% endblock %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
{##}
{#                        <th>事件编号</th>#}
{#                        <th>标题</th>#}
{#                        <th>提出人</th>#}
{#                        <th>当前责任人</th>#}
{#                        <th>等级</th>#}
{#                        <th>事件状态</th>#}
{#                        <th>是否超时</th>#}
{#                        <th>操作</th>#}
            <h4 class="tm-article-subtitle">状态:<div class="uk-text-warning uk-margin-top">{{ object.status }}</div></h4>
            <dl class="uk-description-list-line">
                <dt>事件编号:</dt><dd>{{ object.id }}</dd>
                <dt>标题:</dt><dd>{{ object.name }}</dd>
                <dt>提出人:</dt><dd>{{ object.offer_people }}</dd>
                <dt>当前责任人:</dt><dd>{{ object.current_people }}</dd>
                <dt>等级:</dt><dd>{{ object.level }}</dd>
                <dt>创建于:</dt><dd>{{ object.create_time | timesince }}前</dd>
                <dt>track log:</dt><dd>{{ object.desc| linebreaksbr }}</dd>
            </dl>
        </div>
    </div>
    <hr>
    <a href="{% url "track:home" %}" class="uk-button uk-button-primary">返回首页</a>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}