{% extends "track/index.html" %}
{% load staticfiles %}

{% block title %}
    千寻 | 我提的单
{% endblock %}

{% block description %}
    <div class="uk-block uk-contrast" style="background-color: #263d1d">
        <div class="uk-container uk-container-center">
            <h2 class="uk-text-bold">{{ object.name }}</h2>
        </div>
    </div>
{% endblock %}

{% block middle-nav %}
{% endblock %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <h4 class="tm-article-subtitle">详情:{{ object.name }} <div class="uk-text-warning uk-margin-top">{{ object.status }}</div></h4>

            <form method="post" class="uk-form uk-form-horizontal">{% csrf_token %}
                {{ form.as_p }}
                <hr>
			    <button type="submit" class="uk-button uk-button-primary">提交表单</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}