{% extends "track/index.html" %}
{% load staticfiles %}

{% block title %}
    千寻 | CREATE
{% endblock %}

{% block description %}
    <div class="uk-block uk-contrast" style="background-color: #263d1d">
        <div class="uk-container uk-container-center">
            <h2 class="uk-text-bold">创建一个事件</h2>
        </div>
    </div>
{% endblock %}

{% block middle-nav %}
{% endblock %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-1">
            <h4 class="tm-article-subtitle">详情:{{ object.name }} <div class="uk-text-warning uk-margin-top">{{ object.status }}</div></h4>

            <form method="post" class="uk-form uk-form-horizontal">{% csrf_token %}
                {{ form.as_p }}
                <hr>
			    <button type="submit" class="uk-button uk-button-primary">提交表单</button>
            </form>
        </div>
    </div>
{#    <p class="errorlist">asd</p>#}
{% endblock %}

{% block js %}
<script type="text/javascript">
    var error_list = $('.errorlist');
    error_list.css({color:'red'});

    function getSiteIdOptions(category_id){
        $.ajax({
            type: "GET",
            url: "{% url "track:get-owner" %}?category_id="+category_id,
            dataType:'json',
            success: function(data){
                var siteSelect = document.getElementById("id_current_people");
                for ( var i=siteSelect.options.length-1; i>=-1; i--){
                    siteSelect[i] = null;
                }
                if(data.length > 0) {
                    $("#placeholder").remove();
                    $("#id_current_people").show();
                    for(i=0;i<data.length;i++){
                        siteSelect.options[i] = new Option();
                        siteSelect.options[i].text = data[i].label;
                        siteSelect.options[i].value = data[i].text;
                    }
                }
                console.log(data);
            }
        })
    }
</script>
{% endblock %}