{% extends "workflow/index.html" %}

{% block title %}
    千寻 | 事件跟踪
{% endblock %}
{% block description %}
    <div class="uk-block uk-contrast" style="background-color: #263d1d">
        <div class="uk-container uk-container-center">

            <h2 class="uk-text-bold">事件跟踪应用</h2>

            <div class="uk-grid uk-grid-match">
                <div class="uk-width-medium-1-2">
                    <div class="uk-panel">
                        <h5 class="uk-text-muted uk-text-bold">可选的事件类别</h5>
                        {% for i in category_list %}
                            <span class="uk-badge uk-badge-warning">{{ i.name }}[{{ i.owner.last_name }}{{ i.owner.first_name }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="uk-width-medium-1-2">
                    <div class="uk-panel">
                        <h5 class="uk-text-muted uk-text-bold">可选的事件等级</h5>
                        {% for i in level_list %}
                            <span class="uk-badge uk-badge-warning">{{ i.name }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block middle-nav %}
{#<div class="uk-container uk-container-center uk-margin-top">#}
{#    <ul class="uk-subnav uk-subnav-pill uk-float-right">#}
{#        <li class="{% if current_page == "workorder-category-list" %}uk-active{% endif %}"><a href="{% url "workorder:category-list" %}">首页</a></li>#}
{#        <li class="{% if current_page == "workorder-order-list-user" %}uk-active{% endif %}"><a href="{% url "workorder:order-list-user" %}">我的表单</a></li>#}
{#        <li class="{% if current_page == "workorder-task-list" %}uk-active{% endif %}"><a href="{% url "workorder:list-task" %}">审批 | 分发</a></li>#}
{#        <li class="{% if current_page == "workorder-task-list-engineer" %}uk-active{% endif %}"><a href="{% url "workorder:list-task-engineer" %}">我的工作</a></li>#}
{#        <li class=""><a>表单统计</a></li>#}
{#    </ul>#}
{#</div>#}
{#    <hr class="uk-margin-remove">#}
{% endblock %}

{% block content %}
    <div class="uk-grid">
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-box-secondary-hover">
                <div class="uk-panel-badge uk-badge uk-badge-success"><i class="uk-icon-user"></i></div>
                <h3 class="uk-panel-title">我的待办</h3>
                我有一个需求,但是不知道哪位工程师可以帮我一下.
                <br>
                <a href="#" class="uk-button uk-button-primary uk-margin-large-top">进入我的待办</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-badge uk-badge uk-badge-success"><i class="uk-icon-tasks"></i></div>
                <h3 class="uk-panel-title">我的已办</h3>
                请分配我擅长的工作给我,保证又快又好.
                <br>
                <a href="{% url "track:event_list" %}" class="uk-button uk-button-success uk-margin-large-top">进入我的已办</a>
            </div>
        </div>
        <div class="uk-width-medium-1-3">
            <div class="uk-panel uk-panel-box">
                <div class="uk-panel-badge uk-badge uk-badge-success"><i class="uk-icon-street-view"></i></div>
                <h3 class="uk-panel-title">我提的单</h3>
                我将审批表单有效性,或者直接指定谁处理.
                <br>
                <a href="{% url "track:event_list" %}" class="uk-button uk-button-danger uk-margin-large-top">进入我提的单</a>
                <a href="{% url "track:event-create" %}" class="uk-button uk-button-success uk-margin-large-top">提一个单</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}